
.cb-slideshow li:nth-child(1) picture { 
    background-image: url(../../images/home_page/project1/small.jpg) 
}

.cb-slideshow li:nth-child(2) picture { 
    background-image: url(../../images/home_page/project2/small.jpg);
    animation-delay: 6s; 
}
.cb-slideshow li:nth-child(3) picture { 
    background-image: url(../../images/home_page/project3/small.jpg);
    animation-delay: 12s; 
}
.cb-slideshow li:nth-child(4) picture { 
    background-image: url(../../images/home_page/project4/small.jpg);
    animation-delay: 18s; 
}
.cb-slideshow li:nth-child(5) picture { 
    background-image: url(../../images/home_page/project5/small.jpg);
    animation-delay: 24s; 
}
.cb-slideshow li:nth-child(6) picture { 
    background-image: url(../../images/home_page/project6/small.jpg);
    animation-delay: 30s; 
}
/*Image Resize Optimization for Slideshow*/
@media only screen and (min-device-width: 1270px){
	.cb-slideshow li:nth-child(1) picture { 
		background-image: url(../../images/home_page/project1/medium.jpg) 
	}
	.cb-slideshow li:nth-child(2) picture { 
		background-image: url(../../images/home_page/project2/medium.jpg) 
	}	
	.cb-slideshow li:nth-child(3) picture { 
		background-image: url(../../images/home_page/project3/medium.jpg) 
	}	
	.cb-slideshow li:nth-child(4) picture { 
		background-image: url(../../images/home_page/project4/medium.jpg) 
	}	
	.cb-slideshow li:nth-child(5) picture { 
		background-image: url(../../images/home_page/project5/medium.jpg) 
	}
	.cb-slideshow li:nth-child(6) picture { 
		background-image: url(../../images/home_page/project6/medium.jpg) 
	}
}
@media only screen and (min-device-width: 2048px){
	.cb-slideshow li:nth-child(1) picture { 
		background-image: url(../../images/home_page/project1/large.jpg) 
	}
	.cb-slideshow li:nth-child(2) picture { 
		background-image: url(../../images/home_page/project2/large.jpg) 
	}	
	.cb-slideshow li:nth-child(3) picture { 
		background-image: url(../../images/home_page/project3/large.jpg) 
	}	
	.cb-slideshow li:nth-child(4) picture { 
		background-image: url(../../images/home_page/project4/large.jpg) 
	}	
	.cb-slideshow li:nth-child(5) picture { 
		background-image: url(../../images/home_page/project5/large.jpg) 
	}
	.cb-slideshow li:nth-child(6) picture { 
		background-image: url(../../images/home_page/project6/large.jpg) 
	}
}
